<link rel="stylesheet" href={{ "css/footer.css" | relative_url }}>
<footer>
    <ul class="socials">
        {% include footer/social.html
            url="https://instagram.com/hellooworldsite"
            image="instagram.png"
            alt="Instagram"
            handle="@hellooworldsite"
        %}
        {% include footer/social.html
            url="https://www.youtube.com/channel/UCOtgUgvuIKYvEVnliwGNnHg"
            image="youtube.png"
            alt="Youtube"
            handle="Helloo World"
        %}
    </ul>
    <h1>#Hacktivist</h1>
    <address>
        <h2 class="e-mail"></h2>
    </address>
    <small class="copyright">2020 by Helloo World.</small>
</footer>