<header>
    <link rel="stylesheet" href={{ "/css/general/header.css" | relative_url }}>
    <nav>
        <input id="menu-button" type="checkbox" name="Menu" />
        <label for="menu-button"></label>
        <ul>
            <li>
                <a href="{{ site.baseurl }}/">
                    <div class="nav-image" id="nav-logo"></div>
                    <p>Helloo World</p>
                </a>
            </li>
            {% for page in site.pages %}
                <li>
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>