<header>
    <link rel="stylesheet" href={{ "/css/general/header.css" | relative_url }}>
    <nav>
        <input id="menu-button" type="checkbox" name="Menu" />
        <label for="menu-button"></label>
        <ul>
            {% include header/home.html image="/assets/earth.png" label="Helloo World"%}

            {% include header/link.html url="hackathon" label="Hackathon" %}
            {% include header/link.html url="about" label="About" %}
            {% include header/link.html url="interact" label="Interact" %}
            {% include header/link.html url="learn" label="Learn" %}
            {% include header/link.html url="create" label="Create" %}
        </ul>
    </nav>
</header>