<header>
    <link rel="stylesheet" href={{ "css/header.css" | relative_url }}>
    <nav>
        <ul>
            {% include header/home.html
                url="/"
                image="/assets/earth.png"
                label="Helloo World"
            %}

            {% include header/link.html url="https://google.com" label="Hackathon" %}
            {% include header/link.html url="/test/" label="About" %}
            {% include header/link.html url="https://google.com" label="Interact" %}
            {% include header/link.html url="https://google.com" label="Learn" %}
            {% include header/link.html url="https://google.com" label="Create" %}
        </ul>
    </nav>
</header>
<div class="header-space"></div>