---
permalink: /interact/
title: Interact - Helloo World
layout: interact
---

{% include interact/entry.html
    image = "http://helloo-world.com/Interact/thumbnails/privilege-thumbnail.PNG"
    title = "Watch Your Privilege"
    description = "Learn about privilege by answering questions in this quiz."
%}

{% include interact/entry.html
    image = "http://helloo-world.com/Interact/thumbnails/quote-thumbnail.PNG"
    title = "Quote Generator"
    description = "Going through a rough time? Try our quote generator for some inspiring quotes."
%}

{% include interact/entry.html
    image = "http://helloo-world.com/Interact/thumbnails/flag-thumbnail.PNG"
    title = "Guess the Flag"
    description = "A quiz that tests your knowledge on the flags of the LGBTQ+ community."
%}


<h1 id="coming-soon-header">Coming Soon</h1>

{% include interact/entry.html
    image = "http://helloo-world.com/Interact/thumbnails/CO2-thumbnail.PNG"
    title = "Carbon Calculator"
    description = "Check how much your carbon footprint is today!"
    coming-soon = true
%}

{% include interact/entry.html
    image = "http://helloo-world.com/Interact/thumbnails/trash-thumbnail.PNG"
    title = "Trash Sorting"
    description = "Can you sort your trash? Find out in this trash sorting game!"
    coming-soon = true
%}

{% include interact/entry.html
    image = "http://helloo-world.com/Interact/thumbnails/wwyd-thumbnail.PNG"
    title = "What Would You Do?"
    description = "Test your skills in certain situations in this text-based game!"
    coming-soon = true
%}